.DS_Store
.AppleDouble
.LSOverride
._*
.Spotlight-V100/
.Trashes
ehthumbs.db
dist/
build/
out/
*.log
*.tmp
*.bak
*.pyc
pycache/
node_modules/
bower_components/
venv/
.env
.vscode/
.idea/
.project
.settings/
.classpath
*.sublime-workspace
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini